:root{

--facecolor: #81E4DA;
--backcolor: #FFCDB2;


}
body {

    background-color: #E0FF4F;

}

#Game-Board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 10px solid #d8ff2c;
}

.match-card  {
    position: relative;
    min-height: 100px;
    min-width: 125px;
    flex: 0 0 22%;
    background-color: var(--backcolor);
    color: #F03A47;
    margin: 1rem;
    border-radius: 5px;

}

.match-card:hover {
    
    box-shadow: 7px 3px 8px 0px grey;
}



.match-card p {
    position: absolute;
    
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    margin: 0;
    font-size: 2em;
    visibility:hidden;
}